#nprogress .bar {
  background: #2196f3;   /* màu xanh thanh trên */
  height: 3px;           /* độ dày */
}

#nprogress .peg {
  box-shadow:
    0 0 10px #2196f3,
    0 0 5px #2196f3;
}

#nprogress .spinner {
  display: none;         /* ẩn spinner nếu có */
}
